<!--=============================================== FOOTER AREA START ====================================================-->

<footer>



    <div class="footer-area first-section bg-whatsapp pt-50">
        <div class="container">
            <div class="footer-top">
                <div class="row">

                    <div class="col-xl-4 col-lg-6 pr-50 col-md-7 col-sm-12  order-first">
                        <div class="footer-widget">
                            <div class="footer-widget-thumb mb-25">
                                <a href="index.html"><img src="assets/img/Logo/logo75ppi.png" style="height:50px;"
                                        alt="logo"></a>
                            </div>

                            <div class="footer-widget-content">
                                <a href="#">We automate and develop WhatsApp & Messenger Chatbots to grow your
                                    business by 11X.</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">

                        <div class="footer-widget ">
                            <div class="footer-widget-title mb-25">
                                <a href="#">
                                    <h2>Explore</h2>
                                </a>
                            </div>
                            <div class="footer-widget-content">
                                <div class="footer-services ">
                                    <ul>
                                        <li><a href="#"> Home </a></li>
                                        <li><a href="#"> Workshop</a></li>
                                        <li><a href="#"> Pricing </a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="footer-widget ">
                            <div class="footer-widget-title mb-25">
                                <a href="#">
                                    <h2>Connect</h2>
                                </a>
                            </div>
                            <div class="footer-widget-content">
                                <ul class="connect social-effect">
                                    <li> <a class="i-social" href="index.html"><img src="assets/img/Elements/25.png"
                                                class="width-40 mr-10" alt="social"></a></li>
                                    <li> <a class="f-social" href="#"><img src="assets/img/Elements/13.png"
                                                class="width-40 mr-10" alt="social"></a></li>
                                    <li> <a class="w-social" href="#"><img src="assets/img/Elements/12.png"
                                                class="width-40 mr-10" alt="social"></a></li>
                                    <li> <a class="l-social" href="#"><img src="assets/img/Elements/26.png"
                                                class="width-40 mr-10" alt="social"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3  col-lg-6  col-md-5 col-sm-12 order-first">
                        <div class="footer-widget ">
                            <div class="footer-widget-title mb-25">
                                <a href="#">
                                    <h2>Take Action</h2>
                                </a>
                            </div>
                            <div class="footer-widget-content">
                                <a href="#" class="h-btn  h-btn-svg text-dark-white f-20 bg-blue mt-1 subs-btn"> Get
                                    Started <i class="fas fa-arrow-right"></i></a><br>
                                <a href="#" class="h-btn h-btn-svg text-dark-white f-20 bg-blue mt-3 subs-btn"> View
                                    Demo <i class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="brand-area mt-55">
                <a href="#">
                    <h2>As featured in:</h2>
                </a>
                <div>

                    <a href="#"> <img src="assets/img/Elements/1b.png" class="w-200" alt="brand img"></a>
                </div>
                <div>

                    <a href="#"><img src="assets/img/Elements/2b.png" class="w-200" alt="brand img"></a>
                </div>

                <div>

                    <a href="#"><img src="assets/img/Elements/3b.png" class="w-200" alt="brand img"></a>
                </div>
            </div>



            <div class="terms-conditions">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <div class="terms-content">
                            <div class="f-content">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>

                            <div class="copyright-text">
                                <a href="#">
                                    <p>©2021, Relations AI</p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>