<!-- ============================================================= HEADER AREA START ============================================================= -->

    <header id="header-sticky" class="font-weight-4 mb-30 p-relative">
        <!-- nav start-->
        <nav class="navbar-menu">
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <a href="/"> <img src="assets/img/Logo/logo75ppi.png" class="logo" alt="logo" /></a>
                    <!--<button class="nav-toggle">
                            <i class="fas fa-bars"></i>
                        </button>-->
                </div>

                <!-- links -->
                <ul class="links">  

                    <li class="mobile-brand-logo" style="border:none;">
                        <a href="#"> <img src="assets/img/Logo/logo75ppi.png" class="logo" alt="logo"></a>
                    </li>

                    <li>
                        <a href="/pricing">Pricing</a>
                    </li>

                    <li>
                        <a href="#">workspace</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <a href="#" class="h-btn h-btn-svg text-white bg-blue mb-10 responsive-btn">Free Trial</a>
                    <a href="#" class="h-btn h-btn-svg text-white bg-blue responsive-btn mt--3">Signup</a>

                </ul>

                <!--links end-->
                <div class="header-btn">
                    <a href="#" class="h-btn h-btn-svg l-btn">Login</a>
                    <a href="#" class="h-btn h-btn-svg text-white bg-blue">Signup</a>
                </div>

            </div>
        </nav>

        <div class="menu-trigger js-menu-trigger">
            <span class="bar close-btn"></span>
            <span class="bar close-btn"></span>
            <span class="bar close-btn"></span>
        </div>

        <!-- nav end-->
    </header>

    <!-- ============================================================= HEADER AREA END ============================================================= -->