<!-- subscribe modal start -->
<div class="email-modal" style="display: block;" id="email-modal">
    <div class="email-modal-content">
        <span class="email-close-btn">&times;</span>
        <a href="#" class="learn-how">Learn How</a>
        <p class="email-modal-title">6,000 Leads were generated with Messenger!</p>

        <p class="email-modal-text">Also, let us send you a <a href="#"> 20% Discount</a> coupon
            on our annual plans. </p>
        <div class="subs-form">
            <input type="text" class="submit-btn" placeholder="E-Mail address"> <br>
        </div>
        <a href="#" class="h-btn h-btn-svg text-white orange-bg  subs-btn">Get Free E-Book &
            Coupon</a>
    </div>
</div>