body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.arrow, .area .cards-area .cards .message-card .card.arrow-right::after, .area .cards-area .cards .message-card .card.arrow-left::after {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.area {
  border-radius: 20px;
  padding: 40px 50px 25px;
  margin-bottom: 50px;
}

.area:nth-of-type(odd) {
  background-color: #f0f7fc;
}

.area:nth-of-type(even) {
  background-color: #f1f1f1;
}

.area h1.title {
  font-size: 47px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.area header {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.area header .logo img {
  height: 50px;
}

.area header .menu {
  font-size: 24px;
}

.area header .menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.area header .action-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.area header .action-btns button {
  font-size: 28px;
  border-radius: 10px;
  padding: 8px 10px;
  border: 2px solid #0d6aaf;
}

.area header .action-btns .solid {
  background-color: #0d6aaf;
  color: white;
}

.area .text-area * {
  text-align: center;
}

.area .text-area h1 {
  font-size: 50px;
  line-height: 70px;
  margin: 0;
}

.area .text-area p {
  font-size: 27px;
  padding: 0;
}

.area .text-area button {
  font-size: 28px;
  border-radius: 10px;
  padding: 8px 10px;
  border: 2px solid #0d6aaf;
  background-color: #0d6aaf;
  color: white;
}

.area .brand-logos {
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  max-width: 1000px;
  margin: 40px auto;
}

.area .brand-logos h1 {
  font-size: 27px;
}

.area .brand-logos > div img {
  width: 200px;
}

.area .brand-logos > div img:first-child {
  display: none;
}

.area .brand-logos > div img:nth-child(2) {
  display: block;
}

.area .brand-logos > div:hover img:first-child {
  display: block;
}

.area .brand-logos > div:hover img:nth-child(2) {
  display: none;
}

.area .cards-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .cards-area .cards .message-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.area .cards-area .cards .message-card:last-of-type {
  margin-bottom: 0;
}

.area .cards-area .cards .message-card .icon {
  height: 100px;
  width: 100px;
  background: url("img/4.png");
  background-size: cover;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.area .cards-area .cards .message-card .icon img {
  width: 50px;
}

.area .cards-area .cards .message-card .card {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.area .cards-area .cards .message-card .card h3,
.area .cards-area .cards .message-card .card p {
  margin: 0;
  padding: 0;
}

.area .cards-area .cards .message-card .card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.area .cards-area .cards .message-card .card p {
  line-height: 25px;
  font-size: 18px;
}

.area .cards-area .cards .message-card .card.arrow-right {
  position: relative;
}

.area .cards-area .cards .message-card .card.arrow-right::after {
  right: -60px;
  border-left: 30px solid white;
}

.area .cards-area .cards .message-card .card.arrow-left {
  position: relative;
}

.area .cards-area .cards .message-card .card.arrow-left::after {
  left: -60px;
  border-right: 30px solid white;
}

.area .whats-app-messenger {
  margin-top: 80px;
}

.area .whats-app-messenger h1 {
  gap: 15px;
}

.area .whats-app-messenger h1 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.area .whats-app-messenger h1 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.area .whats-app-messenger h1 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #25d366;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.area .whats-app-messenger h1 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.area .whats-app-messenger h1 input:checked + .slider {
  background-color: #0080f7;
}

.area .whats-app-messenger h1 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.area .whats-app-messenger h1 input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #25d366;
          box-shadow: 0 0 1px #25d366;
}

.area .whats-app-messenger .message-card {
  margin-bottom: 50px;
}

.area .whats-app-messenger .message-card .card {
  width: 280px;
}

.area .whats-app-messenger .mobile {
  padding: 20px 40px 0;
}

.area .whats-app-messenger .mobile .frame img {
  width: 250px;
}

.area.dashboard .cards, .area.automation .cards, .area.tailor .cards {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.area.dashboard .message-card {
  margin-bottom: 35px;
}

.area.dashboard .message-card .card {
  width: 400px;
}

.area.dashboard .mobile {
  padding: 0 40px;
}

.area.dashboard .mobile .frame img {
  width: 800px;
}
/*# sourceMappingURL=style.css.map */